.h1 {
    font-size: 64px;
    margin-bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.center-window {
    height: auto;
    
    display: flex;
    align-content: center;
    align-items: center;
}


.text-about {
    border: solid 1px black;

    background-color: #FEF4C0;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 20%;
}
.text-in-cards {
    font-size: 28px;
}


.reviews-window {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    
    background-color: white;
    width: 80%;
    height: 20%;
}
.review {
    border: solid 1px black;

    background-color: #FEF4C0;
    margin: 10px;
    padding: 10px;
    width: 95%;
    height: auto;
}
.name-in-reviews {
    margin: 0;
    
    font-weight: bold;
    font-size: 32px;
}
.date-in-reviews {
    margin: 0;
    
    font-weight: bold;
    font-size: 24px;
}
.text-in-reviews {
    font-size: 24px;
}





.window-pictures {
    margin: 5px;
    padding: 5px;
    height: 50%;
}





@media screen and (max-width: 768px) {
    .reviews-window {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .review {
        margin-left: 0;
    }
}
@media screen and (max-width: 425px) {
    main {
        padding: 0 1% 0 1%;
    }

    .text-about {
        width: 400px;
    }
    .window-pictures {
        display: none;

        height: auto;
        width: 425px;
    }

}




